# Gradle
.gradle/
**/build/

# Local config
local.properties

# Logs
*.log

# Android Studio / NDK
captures/
.externalNativeBuild/
.cxx/

# APK/AAB artifacts
*.apk
*.ap_
*.apks
*.aab
app/release/
**/outputs/

# Output metadata
output-metadata.json

# IntelliJ/AS project files
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore & signing
*.jks
*.keystore
/keystore/
**/signing.properties

# Google Services
google-services.json

# Profiling
*.hprof
